body{
    margin: 0;
    background-color: rgb(57, 48, 93);
}

img{
    border-radius: 5px;
}

p{
    margin: 0;
    padding: 0;
    color: white;
    max-width: 100%;
    white-space: nowrap;
}

.form{
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 50%;
    gap: 30px;
}


.container_my{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    padding: 70px;

    row-gap: 85px;
    column-gap: 40px;
}


.item{
    max-height: 340px;
    max-width: 225px;
    display: none;
    transition: .4s;
}

.show{
    display: block;
    transition: .4s;
}

.item__img{
    width: 100%;
    height:100%;
    display: flex;
}

.item__title{
    text-align: center;
    padding: 10px;
    max-width: 95%;
    cursor: pointer;
    overflow: hidden;
}

.mi_modal{
    display:none;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(66, 43, 121, 0.507);
    z-index: 20;
}

.mi_modal_cont{
    width: 200px;
    height: 200px;
}

.mi_modal__img{
    max-width: 100%;
}

.activate_modal{
    display: flex;
    justify-content: center;
    align-items: center;
}